QWidget {
    background-color: #F2F2F2;
}

QLineEdit {
    border: 1px solid #B0BEC5;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}

QPushButton {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}

QPushButton:pressed {
    background-color: #45A049;        /* 按下状态 */
    color: white;
}

QPushButton:hover {
    background-color: #45A049;        /* 鼠标悬停 */
}
